apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  labels:
    env  : prod
    owner: dkhach
spec:
  type: NodePort
  selector:
    project: {{ .Release.Name }}
  ports:
    - name      : {{ .Release.Name }}-listener
      protocol  : TCP
      port      : 80  
      targetPort: 80
      nodePort: 30008
